header{
    width: 100%;
    position: relative;

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.nav-links{
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links > li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links > li > a {
    // color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links > li > a:hover {
    background-color: #555;

}

.nav-links.selected {
    color: white;
    background-color: grey;
    border-color: black;
}